@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        --text: oklch(15.52% 0.021 283.65);
        --background: #D2D2D2;
        --primary: oklch(50.19% 0.150 281.34);
        --secondary: oklch(70.51% 0.091 285.25);
        --accent: oklch(61.44% 0.131 283.39);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #000;
        --background: #D2D2D2;
        --primary: oklch(46.49% 0.152 280.51);
        --secondary: oklch(31.89% 0.107 279.82);
        --accent: oklch(37.02% 0.142 278.39);
    }
}

html,
body {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text);
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--background);
}

body::before {
    position: absolute;
    width: min(1400px, 90vw);
    top: 2.5%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-image: url(resources/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

.header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: fixed;
    top: 0;
}

.title {
    font-family: "Caveat Brush", serif;
    font-size: 2.2rem;
    font-weight: 700;
}

#open-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button {
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}

.nav ul>li {
    display: inline;
    margin: 0 10px;
    list-style: none;
}

.nav ul {
    display: flex;
    gap: 10px;
}

.nav ul li a {
    position: relative;
    text-decoration: none;
    font-family: "Caveat Brush", serif;
    font-weight: 400;
    font-size: 1.4rem;
    font-style: normal;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s ease-in-out;
}

.nav ul li a:hover {
    border-bottom: 2px solid #000;
}

.wave-1 {
    position: fixed;
    top: 0;
    right: 5%;
    z-index: -1;
    width: clamp(300px, 50%, 30vw);
    height: 400px;
}

.wave-2 {
    position: fixed;
    top: 5%;
    left: 5%;
    z-index: -1;
    width: clamp(300px, 50%, 90vw);
    height: 400px;
}

.wave-3 {
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: -1;
    width: clamp(300px, 50%, 90vw);
    height: 400px;
}

.view-round {
    min-width: auto;
    height: auto;
}

.container {
    min-width: 40%;
    width: 100%;
    min-height: 100vh;
}

.container section>img {
    width: auto;
    max-height: 450px;
    object-fit: cover;
}

.inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 4rem, ;
    width: 100%;
    height: 100vh;
}

.scroll {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 10%);
    transition: all 0.4s ease-in-out;
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.inicio .text {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(90%, 500px);
}

.inicio .text h1 {
    font-family: "Caveat Brush", serif;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
}

.ri-registered-line,
.ri-download-line {
    color: #fff;
}

.inicio .contact {
    margin-top: 20px;
    width: 100%;
}

.contact a {
    display: inline-block;
    color: #fff;
    border: transparent 2px solid;
    text-decoration: none;
    min-width: 150px;
    background: #262229;
    border-radius: 26px;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding: 12px 30px;
    line-height: 1.4;
}

.contact a:hover {
    transform: translate(13px, 2px);
    background: transparent;
    border: #fff 2px solid;
}

.contact a:first-of-type:hover {
    margin-right: 13px;
}

@media screen and (max-width: 700px) {

    #open-sidebar-button,
    #close-sidebar-button {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        box-shadow: -10px 0 10px var(--primary-color);
        transition: right 300ms ease-in-out;
    }

    nav.show {
        right: 0;
    }

    nav.show~#overlay {
        display: block;
    }

    .wave-1 {
        top: 0;
        right: 30%;
        width: 50vh;
        height: 50vh;
    }

    .wave-2 {
        top: 20%;
        left: 40%;
        width: 60vh;
        height: 700px;
    }

    .wave-3 {
        top: 70%;
        bottom: 0;
        right: 0;
        width: 50vh;
        height: 530px;
    }
}




.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}